<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="clickthroughApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div class="header">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">

        <!-- note the ng-init and ng-click here: -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Oracle HCM Cloud Quick Tour</a>
      </div>

      <div class="collapse navbar-collapse" collapse="navCollapsed">
        <ul class="nav navbar-nav">
          <li class="active"><a href="" onclick="window.location.href='../'"><i class="fa fa-home"></i>Home</a></li>
          <li><a dialog_url="slides/clickthrough-video.html" dialog_id="clickthrough-video" onclick="openDialog(this);"><i class="fa fa-youtube-play"></i>&#9;Watch Videos</a></li>
          <li><a href="" onclick="openChatWindow('1064739');"><i class="fa fa-comment"></i>&#9;Chat with Oracle</a></li>
          <li class="divider-vertical"></li>
          <!-- Simple dropdown -->
          <span class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
            <ul class="dropdown-menu">
              <li ng-repeat="choice in items">
                <a href>{{choice}}</a>
              </li>
            </ul>
          </span>
          <li><a href="">Share</a></li>
          <li><a href="#" onclick="shareToFacebook();"><i class="fa fa-facebook-square social-icon"></i></a></li>
          <li><a href="#" onclick="shareToTwitter();"><i class="fa fa-twitter-square social-icon"></i></a></li>
          <li><a href="#" onclick="shareToLinkedIn();"><i class="fa fa-linkedin-square social-icon"></i></a></li>
          <li><a href="#" onclick="shareLink();"><i class="fa fa-envelope-o social-icon"></i></a></li>
          <li class="divider-vertical"></li>
          <li><a href="#" onclick="sendFeedback();"><i class="fa fa-bullhorn"></i>&#9;Feedback</a></li>

        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div ng-view=""></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>
        <span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
  </div>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <!-- endbuild -->
</body>

</html>
